h1{
    text-align:center;
    color:brown;
}
.p1{
    text-align: center;
}
body{
    background-image: url("https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}